<ul class="page-breadcrumb breadcrumb">
        <li>
                <i class="fa fa-home"></i>
                <a ui-sref="dashboard" >Home</a>
                <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="javascript:void(0);">Add Playlists Followers</a></li>
</ul>
<div class="form">
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light portlet-fit portlet-form bordered" ng-init="Add_init()" >
        <div class="portlet-title">
                <div class="caption">
                        Add Playlists Followers 
                </div>
        </div>
        <div class="portlet-body"> 
             <div class="alert alert-danger show-error" ng-show="error"> <strong>Error! </strong>{{error_code}} </div>
               <form class="form-horizontal form-bordered"   method="post"  enctype="multipart/form-data" ng-submit="Add_PlaylistsFollowers()" >
                        <div class="form-body">
                                <input type="hidden" name="id" ng-model="playlistsfollowers.id" value="{{playlistsfollowers.id}}" />
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Playlist Title</label>
                                         <div class="col-sm-4">
                                             <select class="form-control select2" id="playlist" name="playlist" required ng-options="option.name for option in playlists.availableOptions track by option.id" ng-model="playlists.selectedOption" ></select>
                                         </div>
                                </div>
                                
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Status</label>
                                         <div class="col-sm-4">
                                                 <div class="radio-list">
                                                         <label class="radio-inline"><input type="radio" name="status" ng-model="playlistsfollowers.status"  checked="checked"  value="1" > Active </input> </label> 
                                                         <label class="radio-inline"><input type="radio" name="status"  ng-model="playlistsfollowers.status" value="0" > Inactive</input> </label>
                                                 </div>
                                         </div>
                                </div>
                       </div>
                      <div class="form-actions">
                         <div class="row">
                             <div class="col-md-offset-3 col-md-9">
                                 <button type="submit" class="btn green"  id="add-new-btn" >Submit</button>
                                 <a class="btn default" ui-sref="playlists-follower" >Cancel</a>
                             </div>
                         </div>
                     </div>
               </form>
        </div>
</div>
</div>