/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.error {color: red;}
.pagination {
    margin: -5px 0;
}
a{
    text-decoration: none !important;
}
td > a {
    font-weight: 700;
}
td > a > i.icons{
    font-size: 17px !important;
    position: relative;
    top: 4px;
    font-weight:700;
}
