<ul class="page-breadcrumb breadcrumb">
        <li>
                <i class="fa fa-home"></i>
                <a ui-sref="dashboard" >Home</a>
                <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="javascript:void(0);">View Post Like</a></li>
</ul>
<div class="form">
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light portlet-fit portlet-form bordered"  ng-init="edit_PostsLikes()" >
        <div class="portlet-title">
                <div class="caption">
                        View Post Like
                </div>
        </div>
        <div class="portlet-body"> 
             <div class="alert alert-danger show-error" ng-show="error"> <strong>Error! </strong>{{error_code}} </div>
               <form class="form-horizontal form-bordered"   method="post"  enctype="multipart/form-data" ng-submit="Update_PostLike()" >
                       <div class="form-body">
                                <input type="hidden" name="id" ng-model="postslikes.id" value="{{postslikes.id}}" />
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Post Title</label>
                                         <div class="col-sm-4">
                                             <input type="text" name="title" class="form-control" disabled ng-model="postslikes.title"  value="{{postslikes.title}}" required>
                                         </div>
                                </div>
                                
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Username</label>
                                         <div class="col-sm-4">
                                             <input type="text" name="title" class="form-control" disabled ng-model="postslikes.username"  value="{{postslikes.first_name}} {{postslikes.last_name}}" required>
                                         </div>
                                </div>
                                
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Status</label>
                                         <div class="col-sm-4">
                                                 <div class="radio-list">
                                                     <label class="radio-inline"><input type="radio" name="status"  ng-model="postslikes.status"  value="1" > Active </input> </label> 
                                                     <label class="radio-inline"><input type="radio" name="status"  ng-model="postslikes.status" value="2" > Inactive</input> </label>
                                                     <label class="radio-inline"><input type="radio" name="status"  ng-model="postslikes.status" value="4" > Blocked</input> </label>
                                                 </div>
                                         </div>
                                </div>
                       </div>
                      <div class="form-actions">
                         <div class="row">
                             <div class="col-md-offset-3 col-md-9">
                                 <button type="submit" class="btn green"  id="add-new-btn" >Submit</button>
                                 <a class="btn default" href="#/posts/postslikes/{{postslikes.post_id}}" >Back</a>
                             </div>
                         </div>
                     </div>
               </form>
        </div>
</div>
</div>