<ul class="page-breadcrumb breadcrumb">
        <li>
                <i class="fa fa-home"></i>
                <a ui-sref="dashboard" >Home</a>
                <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="javascript:void(0);">Edit User</a></li>
</ul>
<div class="form">
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light portlet-fit portlet-form bordered"  ng-init="editUser()" >
        <div class="portlet-title">
                <div class="caption">
                        Edit User
                </div>
        </div>
        <div class="portlet-body"> 
             <div class="alert alert-danger show-error" ng-show="error"> <strong>Error! </strong>{{error_code}} </div>
               <form class="form-horizontal form-bordered" id="form-username"  method="post"  enctype="multipart/form-data" ng-submit="Update_User()" >
                       <div class="form-body">
                                <input type="hidden" name="userid" ng-model="user.id" value="{{user.id}}" />
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Profile Image</label>
                                         <div class="col-sm-4">
                                                 <img class="user_profile_image" src="{{user.profile_img}}" style="height: 100px;margin-bottom: 10px;" />
                                                 <input type="file" ng-model="file"   ngf-select="onFileSelect($file)" ngf-pattern="'image/*'" >
                                                 <div class="error profile_error"></div>
                                         </div>
                                </div>
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">First Name</label>
                                         <div class="col-sm-4">
                                                 <input type="text" name="firstname" class="form-control" ng-model="user.firstname"  value="{{user.first_name}}" required>
                                         </div>
                                </div>
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Last Name</label>
                                         <div class="col-sm-4">
                                                 <input type="text" name="lastname" class="form-control" ng-model="user.lastname"  value="{{user.last_name}}"  required>
                                         </div>
                                </div>
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Email</label>
                                         <div class="col-sm-4">
                                                 <input type="email"  name="email" class="form-control" ng-model="user.email" value="{{user.email}}"  required>
                                         </div>
                                </div>
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">DOB</label>
                                         <div class="col-sm-4">
                                                 <input type="text" id="dob"  name="dob"  class="form-control" ng-model="user.dob"  value="{{user.dob}}"  required>
                                         </div>
                                </div>
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Gender</label>
                                         <div class="col-sm-4">
                                                 <div class="radio-list">
                                                         <label class="radio-inline"><input type="radio" name="gender" ng-model="user.gender"  value="male" > Male </input> </label> 
                                                         <label class="radio-inline"><input type="radio" name="gender" ng-model="user.gender" value="female" > Female</input> </label>
                                                 </div>
                                         </div>
                                </div>
                                <!--<div class="form-group">
                                         <label class="col-sm-3 control-label">Mobile</label>
                                         <div class="col-sm-4">
                                                 <input type="text" name="mobile" class="form-control" value="{{user.mobile}}"  required>
                                         </div>
                                </div>-->
                                
                                <div class="form-group">
                                         <label class="col-sm-3 control-label">Status</label>
                                         <div class="col-sm-4">
                                                 <div class="radio-list">
                                                         <label class="radio-inline"><input type="radio" name="status" ng-model="user.status"  value="1" > Active </input> </label> 
                                                         <label class="radio-inline"><input type="radio" name="status" ng-model="user.status" value="2" > Inactive</input> </label>
                                                         <label class="radio-inline"><input type="radio" name="status" ng-model="user.status"  value="4" > Terminated </input> </label> 
                                                         <label class="radio-inline"><input type="radio" name="status"  ng-model="user.status" value="5" > Blocked </input> </label>
                                                 </div>
                                         </div>
                                </div>
                       </div>
                      <div class="form-actions">
                         <div class="row">
                             <div class="col-md-offset-3 col-md-9">
                                 <button type="submit" class="btn green"  id="add-new-btn" >Submit</button>
                                 <a class="btn default" ui-sref="users" >Cancel</a>
                             </div>
                         </div>
                     </div>
               </form>
        </div>
</div>
</div>